@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-font: 'PT Serif', serif;
    --secondary-font: 'PT Sans', sans-serif;
    --primary-color: #86DDF3;
}

body {
    max-width: 1340px;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    background-image: url(./images/header.png);
    height: 660px;
    max-width: 1340px;
    background-position: center;
    min-width: 812px;
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.header-text {
    color:white;
    margin: 0 auto;
    padding-top: 80px;
}

.header-text h1{
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 100px;
    line-height: 50px;
}

.header-text h3{
    line-height: 0;
    font-family: var(--secondary-font);
    /* font-size: 45px; */
    font-size:2.3em;
}


.top-description {
    max-width:1240px;
    margin:0 auto;
    /* background-color:red; */
}

.top-description h3{
    margin-top: 60px;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight:lighter;
    font-size: 1.65em;
    /* background-color:blue; */
}


/* ------------- MAIN SECTION ------------- */

.main-section-container {
    margin: 70px auto 120px auto;
    max-width: 1240px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: limegreen;
}

.section-wrapper {
    display:flex;
}

.section-text {
    text-align: center;
    background-color: violet;
    /* min-width: 440px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.section-text__heading {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-text__text p {
    padding: 0 20px;
    margin: 50px 0;
    font-family: var(--secondary-font);
    font-size: 1.7em;
    background-color: yellow;
}

.blue-numeration {
    background-color: var(--primary-color);
    font-size:250px;
    color:white;
    font-family: var(--primary-font);
    display:flex;
    justify-content: center;
    align-items:center;
}




.section-wrapper.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 760px;
    min-width:400px;
    margin-bottom:35px;
    background-color: rgb(8, 210, 224);
}

.section-wrapper.section-one--segment-one {
    background-color: rgb(224, 167, 8);
    max-width: 760px;
    min-width:400px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-numeration.section-one--segment-one {
    width:320px;
    max-width:480px;
    height: 490px;
    max-height: 490px;
    margin-right:35px; 
    margin-bottom: 35px; 
}

.section-text.section-one--segment-one {
    width:375px;
    max-width:375px;
    height:490px;
    max-height: 490px;
    margin-right:30px;
    margin-bottom: 35px;
    display:flex;
}


.section-wrapper.section-one--segment-two {
    flex-direction: row;
    max-width: 760px;
    min-width: 400px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: maroon;
}

.blue-numeration.section-one--segment-two {
    font-size:250px;
    /* min-width:320px;     moze da se ukloni? */
    width:375px;
    min-width: 375px;;
    height: 600px;
    /* max-height:600px; */
    margin: 0 30px 0px 0;
}

.section-picture.section-one--segment-two {
    background-image: url(./images/step-2.png);
    width:320px;
    min-width:320px;
    height: 600px;
    max-height: 600px;
    margin: 0 35px 0px 0;
}




.section-wrapper.section-two {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 480px;
    margin-bottom: 35px;
    background-color: midnightblue;
}

.section-picture.section-two {
    background-image: url(./images/step-1.png);
    width:100%;
    /* max-width: 480px; */
    min-width: 320px;
    height:490px;
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 35px;
}

.section-text.section-two {
    max-width:480px;
    min-width: 320px;
    /* max-height:600px; */
    height: 600px;
    /* margin-bottom:30px; */
}



.aft-section-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section-wrapper.section-three {
    flex-direction: column;
    max-width: 320px;
    margin-right:35px;
    flex-wrap: wrap;
    background-color: maroon;
}

.blue-numeration.section-three {
    width:320px;
    min-width: 320px;
    height: 600px;
    max-height: 600px;
    margin: 0 35px 40px 0;
}

.section-text.section-three {
    max-width: 320px;
    max-height: 380px;
    margin-right:35px;
}
.section-text__heading.section-three {
    margin-top:30px;
}





.section-wrapper.section-four {
    display:flex;
    flex-direction: row;
    max-width: 375px;
    margin-right:30px;
    flex-wrap: wrap;
    background-color:olive;
}

.section-text.section-four {
    max-width: 375px;
    max-height: 600px;
    height:600px;
    margin-bottom: 40px;
}

.blue-numeration.section-four {
    width:375px;
    min-width: 375px;
    height: 380px;
    max-height: 380px;
}



.section-picture.section-five {  /* split in two in @media query? */
    background-image: url(./images/step-3-4.png);
    width: 480px;
    height:1020px;
}


/* ---------------------- FOOTER -------------------------------- */



footer {
    max-width: 1340px;
    min-width: 812px;
}

.footer-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-text-wrapper {
    max-width: 570px;
    padding-left: 75px;
    /* background-color: yellowgreen; */
}
.footer-text-wrapper__heading {
    font-family: var(--primary-font);
    font-size: 4.5em;
    text-transform: uppercase;
    max-width: 350px;
    /* background-color: yellow; */
}

.footer-text-wrapper__text {
    font-family: var(--secondary-font);
    font-size:1.7em;
    /* background-color: violet; */
    font-weight: lighter;
    font-stretch: semi-expanded;
    line-height: 1.5em;
}

.zemeckis.medium {
    display:none;
    top: 0;
    margin: 0 auto;
    position:relative;
    left: -60px;
}

.zemeckis {
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color:var(--primary-color);
    font-size: 8em;
    z-index: 10;
    position:relative;
    top: -300px;
}

.zemeckis span {
    color: white;
}

.footer-image {
    background-image:url(./images/footer.png);
    width:670px;
    height:980px;
    min-width:440px;
    max-width:670px;
    margin-left: 18px;
}


@media only screen and (max-width: 1240px) {
    .zemeckis.large {
        display:none;
    }

    .zemeckis.medium {
        display: inline-block;
    }

    .section-text.section-three {
        margin-bottom:60px;
    }
}

@media only screen and (max-width: 760px) {
    .section-wrapper.section-four {
        flex-wrap: wrap-reverse;
    }

    .section-wrapper.section-two {
        flex-wrap:wrap-reverse;
    }

}

@media only screen and (max-width: 400px) {

}