@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-font: 'PT Serif', serif;
    --secondary-font: 'PT Sans', sans-serif;
    --primary-color: #86DDF3;
}

body {
    max-width: 1340px;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    background-image: url(./images/header.png);
    height: 660px;
    max-width: 1340px;
    min-width: 812px;
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.header-text {
    color:white;
    margin: 0 auto;
    padding-top: 80px;
}

.header-text h1{
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 100px;
    line-height: 50px;
}

.header-text h3{
    line-height: 0;
    font-family: var(--secondary-font);
    font-size: 45px;
}


.top-description {
    max-width:1240px;
    margin:0 auto;
    background-color:red;
}

.top-description h3{
    margin-top: 60px;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight:lighter;
    font-size: 1.65em;
    background-color:blue;
}

  /* -------------- MASONRY --------------- */
  .masonry-brick {
    flex: auto;
    height: 2250px;
    min-width: 150px;
    margin: 0 8px 8px 0; /* Some gutter */
  }
  
  .masonry-brick:nth-child(3n+1) {
    width: 320px;
  }
  .masonry-brick:nth-child(3n+1):nth-child(3n+2) {
    width: 377px;
    height:2000px;
  }
  .masonry-brick:nth-child(3n+1):nth-child(3n+3) {
    width: 180px;
  }
  /* .masonry-brick:nth-child(3n+1):nth-child(4n+4) {
    width: 380px;
  } */



.all-sections-wrapper {
    display:flex;
    flex-flow: column wrap;
    max-height:2250px;

    /* justify-content:flex-start;
    align-content:flex-start;
    justify-items:flex-start;
    align-items:flex-start; */
    /* flex-wrap: wrap; */
    max-width: 1240px;
    width: 100%;
    margin: 70px auto 50px auto;
    background-color: seagreen;
}

.section-wrapper {
    display:flex;
}

.blue-numeration {
    background-color: var(--primary-color);
    color:white;
    font-family: var(--primary-font);
    display:flex;
    justify-content: center;
    align-items:center;
}

.section-text {
    text-align: center;
    background-color: violet;
    /* min-width: 440px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.section-text__text {
    /* width:100%;
    height:100%; */
}

.section-text__text p {
    padding: 0 20px;
    margin: 50px 0;
    font-family: var(--secondary-font);
    font-size: 1.7em;
    background-color: yellow;
}

.container-one {
    background-color: salmon;
}

/* --------- SECTION ONE ----------------- */

.blue-numeration.section-one {
    font-size:250px;
    width:320px;
    height: 490px;
    margin: 0 30px 35px 0;
}
.section-wrapper.section-one {
    background-color: red;
    max-width: 760px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.section-picture.section-one{
    max-width:477px;
    min-width:440px;
}

.section-text__heading.section-one {
    /* padding: 10px 20px 0 20px; */
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-text.section-one {
    max-width:375px;
    width:375px;
    height:490px;
    margin-right: 0px;
}


/* --------- SECTION TWO ----------------- */

.blue-numeration.section-two {
    font-size:250px;
    min-width:320px;
    width:375px;
    min-height: 600px;
    margin: 35px 30px 30px 0;
}

.section-wrapper.section-two {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.section-picture.section-two {
    background-image: url(./images/step-2.png);
    width:320px;
    height: 600px;
}



/* --------- SECTION THREE ----------------- */


.section-wrapper.section-three {
    display:flex;
    flex-direction: column;
}

.section-text.section-three {
    max-width:480px;
    margin: 30px 0;
    height: 600px;
}
.section-text__heading.section-three {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-picture.section-three {
    background-image: url(./images/step-1.png);
    width:480px;
    height:490px;
    margin-bottom: 4px;
}


/* --------- SECTION FOUR ----------------- */

.blue-numeration.section-four {
    font-size:250px;
    width:320px;
    min-height: 600px;
    margin-top:30px;
}

.section-text__heading.section-four {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-text.section-four {
    max-width: 320px;
    margin-top:30px;
}


/* --------- SECTION FIVE ----------------- */
.blue-numeration.section-five {
    font-size:250px;
    min-width:375px;
    min-height: 380px;
    width:375px;
}

.section-text__heading.section-five {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-text.section-five {
    max-width: 375px;
    width: 375px;
    height: 600px;
    margin: 0 30px 30px 0;

}

.final-section-image {
    background-image: url(./images/step-3-4.png);
    width: 480px;
    height:1020px;
}


/* ---------------------------------------------- */

footer {
    max-width: 1340px;
    min-width: 812px;
}

.footer-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-text-wrapper {
    max-width: 570px;
    padding-left: 75px;
    background-color: yellowgreen;
    /* display:flex;
    flex-direction: column;
    align-content: space-around; */
}
.footer-text-wrapper__heading {
    font-family: var(--primary-font);
    font-size: 4.5em;
    text-transform: uppercase;
    max-width: 350px;
    background-color: yellow;
}

.footer-text-wrapper__text {
    font-family: var(--secondary-font);
    font-size:1.7em;
    background-color: violet;
    font-weight: lighter;
    font-stretch: semi-expanded;
    line-height: 1.5em;
}

.zemeckis.mobile {

}

.zemeckis {
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color:var(--primary-color);
    font-size: 8em;
    z-index: 10;
    position:relative;
    top: -300px;
}

.zemeckis span {
    color: white;
}

.footer-image {
    background-image:url(./images/footer.png);
    width:670px;
    height:980px;
    min-width:440px;
    max-width:670px;
    margin-left: 18px;
}