@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-font: 'PT Serif', serif;
    --secondary-font: 'PT Sans', sans-serif;
    --primary-color: #86DDF3;
}

body {
    max-width: 1340px;
    margin: 0 auto;
}

header {
    background-image: url(./images/header.png);
    height: 660px;
    max-width: 1340px;
    min-width: 812px;
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.header-text {
    color:white;
    margin: 0 auto;
    padding-top: 80px;
}

.header-text h1{
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: 100px;
    line-height: 50px;
}

.header-text h3{
    line-height: 0;
    font-family: var(--secondary-font);
    font-size: 45px;
}


.top-description {
    max-width:1240px;
    margin:0 auto;
    background-color:red;
}

.top-description h3{
    margin-top: 60px;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight:lighter;
    font-size: 1.65em;
    background-color:blue;
}


.all-sections-wrapper {
    display:flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 100%;
    margin: 70px auto 0 auto;

}

.section-wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-wrapper.section-one {
    background-color: wheat;
}

.section-number {
    background-color: var(--primary-color);
    color:white;
    font-family: var(--primary-font);
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:250px;
    min-width:320px;
    min-height: 490;
}

.section-text {
    text-align: center;
    background-color: violet;
    min-width: 440px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.section-text__heading {
    /* padding: 10px 20px 0 20px; */
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: yellowgreen;
}

.section-text__text {
    width:100%;
    height:100%;
}

.section-text__text p {
    padding: 0 20px;
    margin: 50px 0;
    font-family: var(--secondary-font);
    font-size: 1.7em;
    background-color: yellow;
}

.section-picture {
    min-width:477px;
    min-width:440px;
}


footer {
    max-width: 1340px;
    min-width: 812px;
}

.footer-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-text-wrapper {
    max-width: 570px;
    padding-left: 75px;
    background-color: yellowgreen;
    /* display:flex;
    flex-direction: column;
    align-content: space-around; */
}
.footer-text-wrapper__heading {
    font-family: var(--primary-font);
    font-size: 4.5em;
    text-transform: uppercase;
    max-width: 350px;
    background-color: yellow;
}

.footer-text-wrapper__text {
    font-family: var(--secondary-font);
    font-size:1.7em;
    background-color: violet;
    font-weight: lighter;
    font-stretch: semi-expanded;
    line-height: 1.5em;
}

footer > p {
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color:var(--primary-color);
    font-size: 8em;
    z-index: 10;
    position:relative;
    top: -300px;
}

footer p span {
    color: white;
}

.footer-image {
    background-image:url(./images/footer.png);
    width:670px;
    height:980px;
    min-width:440px;
    max-width:670px;
    margin-left: 18px;
}